.opport_ {
  padding: 20em;
}

.filter_ {
  padding: 2em;
  background-color: #f1f1f1;
}

.h_line {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.padding {
  padding: 2em;
}

/* custom.css */
.btn-custom-color {
  background-color: #c3103a;
  border-color: #c3103a;
  color: #ffffff; /* Optional: Set the text color to white for better visibility */
}

.custom-img-size {
  width: 100%;
  height: 200px;
  object-fit: cover; /* To maintain aspect ratio and fit the image within the div */
}

.logousid {
  width: 200px;
  height: 50px;
}
