:root {
  --color-blue: rgb(1, 42, 107);
  --color-red: rgb(195, 16, 58);
}
/* Frame Work*/
.asterisk {
  position: relative;
}
.asterisk::after {
  content: "*";
  position: absolute;
  right: -20px;
  top: -2px;
  color: var(--color-red);
  font-size: 1.25rem;
}
.label-move {
  position: relative;
}
.label-move label {
  position: absolute;
  font-size: 15px;
  top: 50%;
  left: 1.5rem;
  transform: translateY(-50%);
  transition: 0.3s;
}
.label-move input:focus + label,
.label-move label.up {
  font-size: 16px;
  top: -1.15rem;
  left: 0.5rem;
  color: var(--bs-gray) !important;
}
.label-move input:focus {
  box-shadow: 0 0 2px var(--color-blue);
}
/* Oppunities */
.opport_ {
  padding: 2em;
}

.filter_ {
  padding: 2em;
  background-color: #f1f1f1;
}

.h_line {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.padding {
  padding: 2em;
}

/* custom.css */
.btn-custom-color {
  background-color: var(--color-red);
  border-color: var(--color-red);
  color: #ffffff; /* Optional: Set the text color to white for better visibility */
}

.custom-img-size {
  width: 100%;
  height: 200px;
  object-fit: cover; /* To maintain aspect ratio and fit the image within the div */
}

.logousid {
  width: 200px;
  height: 50px;
}

/********* Home Page **************/
/*Know about*/
.about {
  background-color: #eee;
}
.about-box {
  height: 300px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.about-box:nth-child(1) {
  background-image: url(../images/about01.jpg);
}
.about-box:nth-child(2) {
  background-image: url(../images/about02.jpg);
}
.about-box .cont {
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%); */
  background: rgba(0, 0, 0, 0.5);
}
.carousel img {
  /* height: 450px; */
}

/* Sign Up Page*/
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .sign-up {
    width: 720px;
  }
}
.img-default {
  width: 160px;
  height: 160px;
}
.img-default img {
  width: 150px;
  height: 150px;
}

/********* The OPP **************/

.opp_Details {
  width: 50em;
}
.opp_Details h3 {
  margin-bottom: 7px;
}
.opport_Head {
  background-color: #f1f1f1;
  border-radius: 20px;
  border-bottom: solid 1px black;
}

.categ_ {
  background-color: white;
  padding: 3px;
  border-radius: 20px;
  border: solid 1px black;
}
.ApplyOpp {
  margin-right: 20px;
}

.ApplyOpp,
.saveOpp {
  border-radius: 20px;
}
.theOppCard {
  position: absolute;
  right: 2em;
  top: 10em;
  border: solid 2px black;
  border-radius: 20px;
  overflow: hidden;
}

/* Login Page */
.or {
  position: relative;

}
.or > span{
  width: 35px;
  height: 35px;
  background-color: var(--color-red);
  color: #fff;
  border-radius: 50%;
  line-height: 35px;
  display: block;
}
.or::after{
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: var(--color-blue);
  top: 50%;
  z-index: -1;
}
/* End Login Page */