.opport_ {
  padding: 2em;
}

.filter_ {
  padding: 2em;
  background-color: #f1f1f1;
}

.h_line {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.padding {
  padding: 2em;
}

/* custom.css */
.btn-custom-color {
  background-color: #c3103a;
  border-color: #c3103a;
  color: #ffffff; /* Optional: Set the text color to white for better visibility */
}

.custom-img-size {
  width: 100%;
  height: 200px;
  object-fit: cover; /* To maintain aspect ratio and fit the image within the div */
}

.logousid {
  width: 200px;
  height: 50px;
}

      /********* Home Page **************/
/*Know about*/
.about{
  background-color: #EEE;
}
.about-box {
  height: 300px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFF;
}
.about-box:nth-child(1){
  background-image: url(../images/about01.jpg);
}
.about-box:nth-child(2){
  background-image: url(../images/about02.jpg);
}
.about-box .cont{
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%); */
  background:rgba(0, 0, 0, 0.5);
}
.carousel img{
  /* height: 450px; */
}